h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#movie-title {
  padding: 10px;
}

#removeBtn {
  font-size: 12px;
  width:80px;
  height:30px;
}

#addBtn {
  font-size: 12px;
  width:90px;
  height:30px;
}
