h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#movie-title {
  padding: 10px;
}

#removeBtn {
  font-size: 12px;
  width:80px;
  height:30px;
}

#addBtn {
  font-size: 12px;
  width:90px;
  height:30px;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}
