<div class="container">
  <h3>The Shoppies</h3>
  <div class="form-group card shadow" id="movie-title">
    <label for="title">Movie title:</label>
    <div class="input-icons">
      <i class="fa fa-search icon" ></i>
      <input class="input-field" type="text" class="form-control" id="title" formControlName="title">
    </div>
  </div>

  <div class="row">
    <div class="col card shadow">

    </div>
    <div class="col card shadow">
      <div class="card-body table table-responsive">
        <div>
          <strong>Nominations</strong>
        </div>
        <table>
          <tr *ngFor="let movie of nomiationList">
            <td>{{ movie.id }}</td>
            <td>{{ movie.name }}</td>
            <td style="text-align: right">
              <button (click)="remove(movie)" class="btn btn-dark" id="removeBtn">Remove</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
