<div class="container">
  <h3>The Shoppies</h3>
  <form (submit)="onSubmit()">
    <div class="form-group card shadow" id="movie-title">
      <label for="movietitle">Movie title:</label>
      <div class="input-icons">
<!--        <i class="fa fa-search icon" ></i>-->
        <input [(ngModel)]="movieTitle" [ngModelOptions]="{standalone: true}" class="input-field" type="text" class="form-control" id="movietitle" placeholder="Search movies">
      </div>
    </div>
  </form>

  <div class="row">


    <div class="col card shadow">
      <div class="card-body table table-responsive">
        <div>
          <strong>Results for "{{ movieTitle }}"</strong>
        </div>
        <table>
          <tr *ngIf="movieResult != null">
            <td>{{ movieResult.title }} ({{ movieResult.year }})</td>
            <td>
              <button (click)="add(movieResult)" class="btn btn-dark" id="addBtn">Nominate</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col card shadow">
      <div class="card-body table table-responsive">
        <div>
          <strong>Nominations</strong>
        </div>
        <table>
          <tr *ngFor="let movie of nomiationList">
            <td>{{ movie.title }} ({{ movie.year }})</td>
            <td>
              <button (click)="remove(movie)" class="btn btn-dark" id="removeBtn">Remove</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
